.list-anime-detail-wrapper .card {
  padding: .5vw;
}
@media (max-width: 767px) {
  .list-anime-detail-wrapper img {
    height: 350px !important;
  }
}

@media (max-width: 575px) {
  .list-anime-detail-wrapper img {
    height: 225px !important;
  }
}