.list-anime-detail-wrapper .card {
  padding: 1vw;
}
@media (max-width: 767px) {
  .list-anime-detail-wrapper img {
    height: 310px !important;
  }
}

@media (max-width: 575px) {
  .list-anime-detail-wrapper img {
    height: 200px !important;
  }
}